/* index css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

:root {
  --border-color: #e0e0e0;
  --Buttons-color: #07005c;
  --navbar-height: 4rem;
}
